:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta: hsl(289, 100%, 72%);
  --gradient-topo: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  --gradient-chat: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  --gradient-fundo: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  --fundo-pink: hsl(276, 100%, 81%, 5%);
  --fundo-pink-chat: hsl(276, 100%, 81%, 17%);
  --sombra-cellphone: hsl(270, 7%, 64%, 20%);
  --rubik: 'Rubik', sans-serif;
}

body {
  font-family: var(--rubik);
  font-size: 16px;
  background-color: var(--light-grayish-violet);
  color: var(--dark-grayish-violet);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.background {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: -2;
}

.background__gradient {
  background-image: var(--gradient-fundo);
  height: 60vh;
  width: 50%;
  border-radius: 0 0 calc(50vh - 0%) 0;
  align-self: flex-start;
  display: inline-block;
}

.background__pink {
  background-color: var(--fundo-pink);
  height: 60vh;
  width: 50%;
  border-radius: calc(50vh - 0%) 0 0 0;
  display: inline-block;
  align-self: flex-end;
}

.cellphone {
  margin: 4rem auto 0;
  align-self: center;
  width: 250px;
  height: 510px;
  background-color: var(--white);
  border-radius: 30px;
  z-index: 2;
  position: absolute;
  box-shadow: 10px 10px 30px var(--sombra-cellphone);
}

.cellphone__inside {
  background-color: var(--light-grayish-violet);
  border-radius: 20px;
  margin: 10px;
  height: calc(510px - 21px);
  display: flex;
  font-size: 0.55rem;
  line-height: 0.75rem;
}

.cellphone__topo {
  background-image: var(--gradient-topo);
  border-radius: 20px 20px 5px 5px;
  position: absolute;
  height: 45px;
  width: calc(250px - 30px);
  padding: 15px 5px 5px 5px;
  box-shadow: 20px 20px 30px var(--sombra-cellphone);
  color: var(--pale-violet);
}

.cellphone__topo--barra {
  width: calc(250px - 118px);
  margin: -17px 45px 0;
  height: 20px;
  border-radius: 0 0 15px 15px;
  position: absolute;
  z-index: 3;
  background-color: var(--white);

}

.cellphone__user {
  display: grid;
  grid-template-columns: 18px 40px 140px 12px;
  grid-template-rows: 1fr 1fr;
  margin-left: 3px;
  margin-top: 15px;
}

.cellphone__user--icon--back {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  align-content: center;
  color: var(--white);
  margin-top: 8px;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.cellphone__user--pic {
  background-image: url(../img/avatar.jpg);
  border-radius: 100%;
  border: 1px solid var(--white);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  grid-column: 2;
  grid-row: 1 / span 2;
  align-content: center;
  margin-left: 3px;
}

.cellphone__user--name {
  grid-column: 3;
  grid-row: 1;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--white);
}

.cellphone__user--status {
  grid-column: 3;
  grid-row: 2;
}

.cellphone__user--icon--options {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  align-content: center;
  color: hsl(0, 0%, 100%, 50%);
  margin-top: 6px;
  grid-column: 4;
  grid-row: 1 / span 2;
}

.cellphone__talk {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
  width: 100%;
  font-size: 0.9em;
}

.cellphone__talk--purple {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 110px;
  background-color: var(--fundo-pink-chat);
  color: var(--moderate-violet);
  border-radius: 10px 10px 10px 5px;
  align-self: flex-start;
}

.cellphone__talk--white {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 110px;
  background-color: var(--white);
  color: var(--desaturated-dark-violet);
  border-radius: 10px 10px 5px 10px;
  align-self: flex-end;
}

.cellphone__talk--pics {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  width: 135px;
  border-radius: 10px 10px 5px 10px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}

.cellphone__talk--dogs {
  width: 40px;
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.cellphone__talk--gradient {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 140px;
  background-image: var(--gradient-chat);
  color: hsl(0, 0%, 100%, 70%);
  border-radius: 10px 10px 10px 5px;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.cellphone__talk--gradient--circle {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: normal;
  font-size: 1.8em;
  color: hsl(0, 0%, 100%, 70%);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-right: 5px;
  justify-self: flex-start;
}

.cellphone__talk--gradient--text {
  margin-left: 3px;
  flex-grow: 2;
}

.cellphone__talk--gradient--price {
  font-weight: 500;
  font-size: 1.8em;
  color: var(--white);
  margin-right: 3px;
}

.cellphone__type {
  margin: 5px 5px;
  background-color: var(--white);
  height: 35px;
  width: 92%;
  border-radius: 20px 20px 20px 20px;
  margin-top: 10px;
  align-self: center;
  display: flex;
}

.cellphone__type--text {
  align-self: center;
  margin-left: 20px;
  flex-grow: 2;
}

.cellphone__type--send {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  color: var(--white);
  background-color: var(--very-dark-desaturated-violet);
  border-radius: 100%;
  height: 27px;
  width: 27px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-right: 4px;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.cellphone__type--icon {
  text-align: center;
  align-self: center;
}

.footer {
  position: absolute;
  z-index: 3;
  margin-top: 580px;
}

.title {
  font-size: 2.4rem;
  color: var(--very-dark-desaturated-violet);
  font-weight: 500;
  margin: 3rem auto 1.5rem;
  z-index: 3;
  text-align: center;
}

.paragraph {
  text-align: center;
  margin: 0 2rem 2rem;
  line-height: 1.75rem;
  z-index: 3;
}